.profile-page {
  max-width: 380px;
  width: 100%;
  margin: auto;
}


.otp-input {
  width: 70px;
  padding: 20px 0;
  font-size: 18px;
  border-radius: 8px;
  background: #111111;
  margin: 5px;
  text-align: center;
  outline: none;  
}



.user-data {
  background-color: #111111;
  padding: 24px;
  padding-left: 20px;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  margin-top: 48px;
}

.label {
  color: #4D4D4D;
}

.data-field {
  background-color: #111111;
  padding: 24px;
  padding-left: 20px;
  border-radius: 12px;
}

.logout-button {
  background-color: #111111;
  padding: 24px;
  padding-left: 20px;
  border-radius: 12px;
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  margin-top: 48px;
  width: 100%;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-button:hover {
  background-color: #f21212;
  transform: scale(1.02);
}

.logout-button:active {
  transform: scale(2.98);
}