.render-container {
  margin-left: 140px;
  margin-right: 90px;
}

.render-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.movie-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  background-color: #1D1D1D;
  border-radius: 12px;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
}



.movie-image {
  width: 280px;
  height: 400px;
}

.movie-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


