.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #1c1b1b;
    padding: 35px 60px; 
    border-radius: 12px;
    margin-top: 160px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer-item {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .footer-text {
    color: #A1A1A1;
    font-size: 16px;
  }
  
  
  .contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
  }
  
  .contact-number {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 500;
  }
  
  .social-media {
    display: flex;
    flex-direction: column;
  }
  
  .social-icon {
    margin-top: 5px;
    margin-right: 5px;
  }
  